<h3>Customers</h3>
<br><br>
<div>All the customers will be displayed here</div>
<br>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nisi culpa, quam quas quisquam! Autem eaque, impedit a possimus. Quas voluptas facilis voluptate illum eum blanditiis ut laborum! Obcaecati, recusandae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, quasi velit nemo dignissimos pariatur eos qui earum. Illum tenetur dignissimos voluptatibus placeat temporibus, vitae omnis quo deserunt quas eaque modi!</div>
