<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Calculator</title>
    <script src="angular.min.js"></script>
    <script>
        var calculator = {
            number1 : 0,
            number2 : 0,
            result : 0,
            add : function(){
                this.result = parseInt(this.number1,10) + parseInt(this.number2, 10);
            },
            subtract : function(){
                this.result = parseInt(this.number1,10) - parseInt(this.number2, 10);
            },
            multiply : function(){
                this.result = parseInt(this.number1,10) * parseInt(this.number2, 10);
            },
            divide : function(){
                this.result = parseInt(this.number1,10) / parseInt(this.number2, 10);
            }
        };
        var myApp = angular.module("myApp", []);
        myApp.controller("calculatorController", function($scope){
            $scope.calculator = calculator;
        })

    </script>
</head>
<body ng-app="myApp">
    <h1>Calculator</h1>
    <hr>
    <div class="content" ng-controller="calculatorController">
        <input type="text" ng-model="calculator.number1">
        <select >
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
        </select>
        <input type="text" ng-model="calculator.number2">
        <input type="button" value="Calculate">
        <div id="divResult" ng-bind="calculator.result">[Result]</div>
    </div>
</body>
</html>
