<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Calculator</title>
    <style>
        .summary{
            font-size: 22pt
        }
    </style>
    <script src="angular.min.js"></script>
    <script>

        var myApp = angular.module("myApp", []);
        myApp.value("calculator",{
            number1 : 0,
            number2 : 0,
            result : 0,
            add : function(){
                this.result = parseInt(this.number1,10) + parseInt(this.number2, 10);
            },
            subtract : function(){
                this.result = parseInt(this.number1,10) - parseInt(this.number2, 10);
            },
            multiply : function(){
                this.result = parseInt(this.number1,10) * parseInt(this.number2, 10);
            },
            divide : function(){
                this.result = parseInt(this.number1,10) / parseInt(this.number2, 10);
            }
        });

        myApp.controller("appController", function($scope){
            $scope.transactionCount = 0;
            $scope.incrementTransactionCount = function(){
                ++$scope.transactionCount;
            }
        });

        myApp.controller("calculatorController", function($scope, calculator){
            $scope.calculator = calculator;
            $scope.operation = null;
            $scope.calculate = function(){
                $scope.incrementTransactionCount();
                calculator[$scope.operation]();
            }
        });

        myApp.controller("summaryController", function($scope){

        })

    </script>
</head>
<body ng-app="myApp" ng-controller="appController">
    <h1>Calculator</h1>
    <hr>
    <div class="content" ng-controller="calculatorController">
        <input type="text" ng-model="calculator.number1">
        <select ng-model="operation" >
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
        </select>
        <input type="text" ng-model="calculator.number2">
        <input type="button" value="Calculate" ng-click="calculate()">
        <div id="divResult" >{{calculator.result}}</div>
    </div>
    <div class="summary" ng-controller="summaryController">
        <span>Total Transactions : <span>{{transactionCount}}</span></span>
    </div>
</body>
</html>
