<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <style>
        .closed {
            color : red;
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
        }
        .stats{
            font-size: 18pt;
            font-weight: bold;
        }
        div{
            margin-bottom: 10px;
        }
        li{
            cursor: pointer;
        }
    </style>
    <!--
    Use Cases
    ==========
    1. List the bugs - done
    2. Add a new bug - done
    3. Toggle the completion status of a bug - done
    4. Remove closed bugs - done
    5. Search for bug
    6. Sort the bug
    7. Improvise the bug display
    8. Display the 'createdAt' for all the bugs
    9. Persist the bugs in 'localStorage'
    10. Persist the bugs in the server
    11. Categorize the bugs
    12. Allow the user to navigate by category
    -->
    <script src="angular.min.js"></script>
    <script>

        var bugTrackerApp = angular.module("bugTrackerApp", []);
        /*bugTrackerApp.value("Bug", function Bug(name){
            this.name = name;
            this.isClosed = false;
            this.toggle = function(){
                this.isClosed = !this.isClosed;
            }
        });*/

        function Bug(name){
            this.name = name;
            this.isClosed = false;
        }
        Bug.prototype.toggle = function(){
            this.isClosed = !this.isClosed;
        }

        bugTrackerApp.controller("bugsController", function($scope/*, Bug*/){
            $scope.bugs = [
                new Bug("User authentication failure"),
                new Bug("Server communication erratic"),
                new Bug("Control alignment not right"),
            ];
            $scope.newBugName = '';
            $scope.addNew = function(){
                var newBug = {
                    name : $scope.newBugName,
                    isClosed : false
                };
                $scope.bugs.push(newBug);
                $scope.newBugName = '';
            };
            $scope.toggle = function(bug){
                //bug.isClosed = !bug.isClosed;
                bug.toggle();
            };
            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length -1; i>= 0; i--)
                    if ($scope.bugs[i].isClosed)
                        $scope.bugs.splice(i,1);
            };
            $scope.getClosedCount = function(){
                return $scope.bugs.reduce(function(result, bug){
                    return bug.isClosed ? ++result : result;
                },0);
            };
        });

    </script>
</head>
<body ng-app="bugTrackerApp">
    <h1>Bug Tracker</h1>
    <hr>
    <section class="content" ng-controller="bugsController">
        <div class="stats">
            <span class="closed">{{getClosedCount()}}</span> / <span>{{bugs.length}}</span>
        </div>
        <div class="sort">
            <label for="">Order By :</label>
            <input type="text" name="" id="">
            <label for="">Descending ? :</label>
            <input type="checkbox" name="" id="">
        </div>
        <div class="filter">
            <label for="">Search :</label>
            <input type="text" name="" id="">
            <label for="">Closed?</label>
            <input type="checkbox" name="" id="">
            <input type="button" value="Show All">
        </div>
        <div class="edit">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBugName">
            <input type="button" value="Add New" ng-click="addNew()">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
        </div>
        <div class="list">
            <ol>
                <li
                    ng-repeat="bug in bugs"
                    ng-click="toggle(bug)"
                    ng-class="{closed : bug.isClosed}"
                >{{bug}}</li>
            </ol>
        </div>
    </section>
</body>
</html>
